<div class="content" [hidden]="loading">
  <div fxLayout="row" fxLayoutAlign="space-evenly center">
    <mat-card class="widget" fxLayout="column" fxLayoutAlign="center center">
      <mat-card-header>

      </mat-card-header>
      <mat-card-content class="cardContent" fxLayout="column">
        <span class="count">{{Stats.StudentsRegisteredCount}}</span>
        <span>Students registered</span>
      </mat-card-content>
    </mat-card>
    <mat-card class="widget" fxLayout="column" fxLayoutAlign="center center">
      <mat-card-header>

      </mat-card-header>
      <mat-card-content class="cardContent" fxLayout="column">
        <span class="count">{{Stats.HomeworkNeedsCorrectionCount}}</span>
        <span>Homework needs correction</span>
      </mat-card-content>
    </mat-card>
    <mat-card class="widget" fxLayout="column" fxLayoutAlign="center center">
      <mat-card-header>

      </mat-card-header>
      <mat-card-content class="cardContent" fxLayout="column">
        <span class="count">{{Stats.TestsNeedCorrectionCount}}</span>
        <span>Tests needs correction</span>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxLayout="column" fxLayoutAlign="start center" class="chart">
    <div fxLayout="row" fxLayoutAlign="space-around start" class="widget-row">
      <mat-card class="chart-widget" fxLayout="column" fxLayoutAlign="start center">
        <mat-card-header>
          Tests and Homeworks over time
        </mat-card-header>
        <mat-card-content class="cardContent" fxLayout="column">
            <canvas style="height: 250px;width: 450px" id="TestsHomeworksOverTime">{{ TestsHomeworksOverTime }}</canvas>
        </mat-card-content>
      </mat-card>
      <mat-card class="chart-widget" fxLayout="column" fxLayoutAlign="start center">
        <mat-card-header>
          Grade distribution
        </mat-card-header>
        <mat-card-content class="cardContent" fxLayout="column">
          <div>
            <canvas style="height: 250px;width: 450px" id="GradeDistribution">{{ GradeDistribution }}</canvas>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around start" class="widget-row" style="margin-top:10px;">
      <mat-card class="chart-widget" fxLayout="column" fxLayoutAlign="start center">
        <mat-card-header>
          Average time spent per test
        </mat-card-header>
        <mat-card-content class="cardContent" fxLayout="column">
          <div>
            <canvas style="height: 180px !important;width: 350px !important;" id="AverageTimeSpentPerTest">{{ AverageTimeSpentPerTest }}</canvas>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="chart-widget" fxLayout="column" fxLayoutAlign="start center">
        <mat-card-header>
          Satisfaction of studends regarding tests / homeworks
        </mat-card-header>
        <mat-card-content class="cardContent" fxLayout="column">
          <div>
            <canvas  style="height: 180px !important;width: 350px !important;" id="SatisfactionOfStudents">{{ SatisfactionOfStudents }}</canvas>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
