.widget {
  width: 160px;
  height: 85px;

  span {
    text-align: center;
  }
  .count{
      font-size: 20px;
      font-weight: bold;
  }
}

.chart {
  margin-top: 10px;

  .widget-row {
    width: 100%;
    flex-wrap: wrap;
  }

  .chart-widget {
    width: 550px;
    height: 280px;
    mat-card-header{
        text-align:center;
    }
  }
}
